<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h3>{{  one_game.name  }}</h3>

    <div>
        <p>Game Id: {{  one_game.id  }}</p>
        <p>Game Genre: {{  one_game.genre  }}</p>
        <p>Game Release Year: {{  one_game.release_year  }}</p>
        <p>Game Uploaded On: {{  one_game.created_at  }}</p>
        
    </div>


    <p>
        <a href="/">Home</a>
    </p>
    <h3>
        <a href="/game_form">Add Game to DB</a>
    </h3>


</body>
</html>