<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

</head>
<body>

    <h1>Welcome, {{ one_user.first_name }}!
        <a href="/my_parties">
            <button>My Parties</button>
        </a>
        <a href="/logout">
            <button>Logout</button>
        </a>
    </h1>

    <div class="d-flex bg-dark text-light justify-content-center p-3">
        <table class="table bg-light text-dark w-75">
            <thead>
                <tr>
                    <th>What</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>All Ages</th>
                    <th>Posted By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for party in all_parties %}
                <tr>
                    <td>{{ party.name }}</td>
                    <td>{{ party.location }}</td>
                    <td>{{ party.party_date }}</td>
                    
                    {% if party.all_ages == 0 %} 
                        <td>No</td>
                        {% endif %}
                    {% if party.all_ages == 1 %} 
                        <td>Yes</td>
                    {% endif %}

                    <td>{{ party.party_poster.first_name }} {{ party.party_poster.last_name }}</td>
                    {% if session['user_id'] == party.party_poster.id %}
                    <td>
                        <a href="/parties/{{ party.id }}">View | </a>
                        <a href="/parties/{{ party.id }}/edit">Edit | </a>
                        <a href="">Delete</a>
                    </td>
                    {% else %}
                    <td>  <a href="/parties/{{ party.id }}">View</a>  </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <a href="/parties/new">Plan a Party</a>

</body>
</html>