table, th, td {
    border:1px solid black;
}

a {
    padding: 10px;
}


.flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.box {
    border: 3px solid black;
    border-radius: 5%;
    width: 20em;
    margin-bottom: 3em;
}