<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

</head>
<body class="bg-primary">
    <style>
        .underline-text {
            text-decoration: underline;
        }
    </style>
    <div class="bg-dark d-flex container">
        <h1 class="bg-dark justify-content-center text-light p-4">UserName's Recipes</h1>
        <div class="d-flex justify-content-center align-items-center">
            <a href="/add_new_recipe_page">+ Create</a>
            <a href="/logout" class="ml-5"> Log Out</a>
        </div>
    </div>
        <div class="d-flex justify-content-around mt-5 ">
                <div class="bg-dark w-75 text-light p-3">
                    <table class="table bg-light text-dark">
                        <tr>
                            <th>Recipe Name</th>
                            <th>Under 30 Min</th>
                            <th>Posted By</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td>temp name</td>
                            <td>temp T/F</td>
                            <td>temp poster</td>
                            <td>
                                <a href="">View Recipe</a>
                                <a href="">Edit</a>
                                <a href="">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>temp name</td>
                            <td>temp T/F</td>
                            <td>temp poster</td>
                            <td>
                                <a href="">View Recipe</a>
                            </td>
                        </tr>
                        {%  for recipe in all_recipes  %}
                            <tr>
                                <td>{{  recipe.name  }}</td>
                                <td>{{  recipe.under_30_min  }}</td>
                                <td>{{  recipe.recipe_poster.first_name  }}</td>
                                <td>
                                    <a href="">View Recipe</a>
                                </td>
                            </tr>
                        {%  endfor  %}
                    </table>
                </div>
    

        </div>
</body>
</html> 

