<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <h1 style="display: flex; justify-content: center;">Welcome!</h1>

    <!-- Playground box -->
    <div style="display: flex; justify-content: center; flex-wrap: wrap;"> 

        {%  for i in range(0, x)  %}
            <div style="border: 3px solid black; height: 15em; width: 15em; 
            background-color: {{ boxColor }}; border-radius: 6%; margin: 2em"></div>
        {%  endfor  %}

        
    </div>
</body>
</html>