<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show One</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='styles.css')  }}">

</head>
<body>
    <h1>User {{  one_user.id  }}</h1>
    <br>
    <p>Full Name: {{  one_user.first_name  }}  {{  one_user.last_name  }}</p>
    <br>
    <p>Email: {{  one_user.email  }}</p>
    <br>
    <p>Created On: {{  one_user.created_at  }}</p>
    <br>
    <br>
    <p>
        <a href="">Edit</a>
        |
        <a href="">Delete</a>
    </p>
    <a href="/">Home</a>





</body>
</html>